# local port 설정
server:
    base-url: http://localhost
    port: 8079
#Spring 설정
spring:
    # DB 설정
    datasource:
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://localhost:5432/${POSTGRES_DATABASE}?currentSchema=${POSTGRES_SCHEMA}
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
    # JPA 설정
    jpa:
        open-in-view: false
        show_sql: true
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                format_sql: true
                highlight_sql: true
                use_sql_comments: true
    # devtools 설정            
    devtools:
        restart:
            additional-paths: src/main/resources/static
        livereload:
            enabled: true
    # log 설정
    logging:
        level:
            org:
                springframework:
                    security: DEBUG
    # JWT 설정
    jwt:
        secret:
            key: ${JWT_SECRET_KEY}
        expiration:
            access: ${JWT_EXPIRATION_ACCESS}
            refresh: ${JWT_EXPIRATION_REFRESH}
    # GMAIL 설정
    mail:
        protocol: smtp
        host: smtp.gmail.com
        port: 587
        username: ${GMAIL_USERNAME}
        password: ${GMAIL_PASSWORD}
        default-encoding: utf-8
        properties:
            mail:
                smtp:
                    starttls:
                        enable: true
                    auth: true
                    timeout: 5000